.quantity {
	width: 95px;
	position: relative;
	margin: 0 auto;
	overflow: hidden;
	zoom: 1;
}

.quantity input::-webkit-outer-spin-button,
.quantity input::-webkit-inner-spin-button {
	display: none;
}

.quantity input.qty {
	width: 75px;
	height: 36px;
	float: left;
	text-align: center;
	border: 1px solid #c8bfc6;
	background-color: transparent;
	border-right: 0;
	font-size: 16px;
	padding: 0;
}

.quantity noindex:-o-prefocus,
.quantity input[type=number] {
	padding-right: 1.2em;
}

.quantity .plus,
.quantity .minus {
	display: block;
	padding: 0;
	margin: 0;
	position: absolute;
	text-align: center;
	vertical-align: text-top;
	width: 20px;
	height: 18px;
	overflow: visible;
	text-decoration: none;
	text-indent: -9999px;
	font-size: 16px;
	cursor: pointer;
	background: none;
}

.quantity .plus:hover,
 .quantity .minus:hover {
     background-color: transparent;
 }

.quantity .plus {
	top: 0;
	right: 0;
	border-top: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
	background: url("../images/icons.png") no-repeat scroll 2px 6px;
}

.quantity .minus {
	bottom: 0;
	right: 0;
	border-right: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
	background: url("../images/icons.png") no-repeat scroll 2px -36px;
}

div.product div.summary .screen-reader-text {
	display: none;
}

.woocommerce-variation-add-to-cart .quantity input.plus2,
.woocommerce-variation-add-to-cart .quantity input.minus2 {
    line-height: 15px;
    height: auto;
    padding: 11px;
    width: 30px;
    float: left;
}

div.product form.cart div.quantity {
    float: left;
    margin: 0 30px 0 0;
    max-width: 150px;
    width: 100%;
    margin-right: 5px;
}

.quantity input.qty {
	margin-right: 5px;
	border-right: 1px solid #ccc;
}