.newslist {
    padding-top: 90px;
}

.newslist .post-title a{
    line-height: 1.2em;
    color: #407ecb;
    padding-top: 9px;
    margin-bottom: 0;
    font-family: 'Lato-Regular';
    font-size: 25px;
}
 .newslist .post-title  {
    margin-bottom: 0;
 }

.newslist .post-time {
    font-size: 13px;
    margin-bottom: 27px;
    font-family: 'open_sansregular';
}

.newslist .excerpt {
    padding-top: 0;
    padding-bottom: 25px;
    font-family: 'open_sansregular';
    min-height: 65px;
}

.newslist .button-holder {
   width: 194px; 
   height: 54px;
   background: #0c4da2;
   -webkit-transform: skew(-30deg); 
   -moz-transform: skew(-30deg); 
   -o-transform: skew(-30deg);
   transform: skew(-30deg);
    position: relative;
    display: block;
    left: 15px;
}

.newslist .post-title a:hover {
    color: #76c8f7;
}

.newslist .button-holder:hover {
     background: #76c8f7;
}

.newslist .post-title,
.newslist .post-time,
.newslist .excerpt {
    text-align: center;
    display: block;
}

.newslist .button-holder {
    text-align: center;
    margin: 0 auto;
    left: 0;
}

.navigation {
    float: right;
    display: block;
    width: 100%;
    text-align: right;
    padding: 0 15px;
  
}

.navigation .line {
    border-top: 1px solid #e9e9e9;
    padding-top: 23px;
}

.navigation span.current {
    padding: 5px 10px; 
    background: #aeaeae;
    color: #fff;
}

.navigation a{
    padding: 5px 15px;
    font-size: 14px;
}

.navigation a.prev,
.navigation a.next {
    background:#0c4da2;
    color: #fff;
    font-weight: bold;
}

.details .button-holder  .btn  {
    -webkit-transform: skew(30deg); 
   -moz-transform: skew(30deg); 
   -o-transform: skew(30deg);
   transform: skew(30deg);
    text-align: center;
    margin: 0 auto;
    display: block;
    background: transparent;
    border: none;
    position: absolute;
    bottom: 25%;
    left: 0;
    right: 0;
    font-family: 'Lato-Regular';
    font-size: 15px;
}

.feature-image-wrapper a {
    width: 100%;
    height: 332px;
    display: inline-block;

}

.feature-image-wrapper a:hover .img-box {
    -webkit-box-shadow: inset 0px 0px 97px -5px rgba(255,255,255,1);
    -moz-box-shadow: inset 0px 0px 97px -5px rgba(255,255,255,1);
    box-shadow: inset 0px 0px 97px -5px rgba(255,255,255,1);
}

.feature-image-wrapper .img-box {
    width: 100%;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    display: inline-block !important;
    height: 100%;
    -webkit-transition: .5s all;
    -o-transition: .5s all;
    transition: .5s all;
}