 .gallery-text-style h3 {
     font-size: 13px;
     margin-top: 10px;
     min-height: 13px;
}
 .galleryholder {
     padding-top: 15px;
     min-height: 165px;
}
 .gallerysidebar #jal_widget-2 {
     display: none;
}
 .gallerysidebar .news-archive-dates-month {
     display: none;
}
.galleryholder a {
    display: inline-block;
    width: 100%;
}
.news-archive-dates-month li {
    display: block;
    background: #fbcdb5 !important;
    padding: 10px 10px !important;
    color: #000 !important;
}
.news-archive-dates-year a.yearclick {
    display: block;
    padding: 15px 0 !important;
    color: #000 !important;
    font-weight: bold !important;
    border-bottom: 1px solid #e5e5e5;
}