@media screen{
	.sectioning{
		padding-bottom: 25px;
		padding-top: 25px;
	}
	.form-container{
		margin-left: auto;
		margin-right: auto;
		max-width: 768px;
		width: 100%;
	}
	.form-container select{
		margin-bottom: 15px;
	}
}